@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Game System Browser</title>
</head>
<body>
    <div> 
        <label for="developer">Developer</label>
        <select id="developer">
            <option selected>-- SELECT --</option>
            <option>Chris</option>
            <option>Hiro</option>
            <option>James</option>
            <option>Stan</option>
            <option>Steve</option>
        </select>
    </div>
    <div>
        <label for="game-system">Game System</label>
        <select id="game-system">
            <option selected>-- SELECT --</option>
        </select>
    </div>
    <div>
        <label for="game-system-games">Game System Games</label>
        <select id="game-system-games">
            <option selected>-- SELECT --</option>
        </select>
    </div>
    <script src="~/Scripts/jquery-3.1.0.js"></script>
    <script src="~/Scripts/site.js"></script>
</body>
</html>
